.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tag{
    bottom: auto;
    top: 35px;
}


.tags{
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: "La Belle Aurore";
}

.bottom-tag{
    margin-bottom: 40px;
}
.top-div{
    margin-top: 100px;
    padding-left: 50px;

}
.bottom-div{
    margin-bottom: 100px;
    padding-left: 50px;

}

.bottom-tag-html{
    margin-left: -20px;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    will-change: content;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation:fadeIn 1s forwards;
    animation-delay: 1s;
}



/* start mobile media query */

@media (max-width: 600px){

    .tags{
        left: 70px;
        font-size: 15px;
    }
    .top-div{
        margin-top: 70px;
    }
    .bottom-div{
        margin-bottom: 75px;
    
    }
}

/* end mobile media query */